site/App_WebReferences/statdropws/developerapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateAPIKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAPIKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateAPIKeyResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnedID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateWindowApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LongDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MoreInformationURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateWindowAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateWindowAppResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGenericApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplicationType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGenericAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateGenericAppResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDetailedStat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StatName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LinkedID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="StatDetailDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeOfApplicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeOfStat" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDetailedStatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDetailedStatResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExactStatUpdateForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="DetailedStatID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Percentage" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExactStatUpdateForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExactStatUpdateForUserResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExactStatUpdateForUserWithDayHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="DetailedStatID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Percentage" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExactStatUpdateForUserWithDayHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExactStatUpdateForUserWithDayHistoryResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExactStatUpdateForUserWithAllHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="DetailedStatID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Percentage" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExactStatUpdateForUserWithAllHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExactStatUpdateForUserWithAllHistoryResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncrementStatUpdateForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="DetailedStatID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Percentage" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncrementStatUpdateForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IncrementStatUpdateForUserResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTrophy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TrophyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TrophyAwardConditionToShowUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TrophyDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TriggerSQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TriggerReturnValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTrophyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTrophyResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateTrophyToUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="TrophyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AwardedOn" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateTrophyToUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssociateTrophyToUserResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnUsersTrophyList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnUsersTrophyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnUsersTrophyListResult" type="tns:ArrayOfUserTrophy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserTrophy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserTrophy" nillable="true" type="tns:UserTrophy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserTrophy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrophyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TrophyID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AwarededOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TrophyDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrophyAwardCondition" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnLatestWebServiceVersionAndEndPoint">
        <s:complexType />
      </s:element>
      <s:element name="ReturnLatestWebServiceVersionAndEndPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnLatestWebServiceVersionAndEndPointResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendUserEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageToSend" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageFrom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MessageType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendUserEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendUserEmailResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendUserMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageToSend" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageFrom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendUserMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendUserMessageResult" type="tns:ReturnMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateAPIKeySoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAPIKey" />
  </wsdl:message>
  <wsdl:message name="ValidateAPIKeySoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAPIKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CreateWindowAppSoapIn">
    <wsdl:part name="parameters" element="tns:CreateWindowApp" />
  </wsdl:message>
  <wsdl:message name="CreateWindowAppSoapOut">
    <wsdl:part name="parameters" element="tns:CreateWindowAppResponse" />
  </wsdl:message>
  <wsdl:message name="CreateGenericAppSoapIn">
    <wsdl:part name="parameters" element="tns:CreateGenericApp" />
  </wsdl:message>
  <wsdl:message name="CreateGenericAppSoapOut">
    <wsdl:part name="parameters" element="tns:CreateGenericAppResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDetailedStatSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDetailedStat" />
  </wsdl:message>
  <wsdl:message name="CreateDetailedStatSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDetailedStatResponse" />
  </wsdl:message>
  <wsdl:message name="ExactStatUpdateForUserSoapIn">
    <wsdl:part name="parameters" element="tns:ExactStatUpdateForUser" />
  </wsdl:message>
  <wsdl:message name="ExactStatUpdateForUserSoapOut">
    <wsdl:part name="parameters" element="tns:ExactStatUpdateForUserResponse" />
  </wsdl:message>
  <wsdl:message name="ExactStatUpdateForUserWithDayHistorySoapIn">
    <wsdl:part name="parameters" element="tns:ExactStatUpdateForUserWithDayHistory" />
  </wsdl:message>
  <wsdl:message name="ExactStatUpdateForUserWithDayHistorySoapOut">
    <wsdl:part name="parameters" element="tns:ExactStatUpdateForUserWithDayHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ExactStatUpdateForUserWithAllHistorySoapIn">
    <wsdl:part name="parameters" element="tns:ExactStatUpdateForUserWithAllHistory" />
  </wsdl:message>
  <wsdl:message name="ExactStatUpdateForUserWithAllHistorySoapOut">
    <wsdl:part name="parameters" element="tns:ExactStatUpdateForUserWithAllHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IncrementStatUpdateForUserSoapIn">
    <wsdl:part name="parameters" element="tns:IncrementStatUpdateForUser" />
  </wsdl:message>
  <wsdl:message name="IncrementStatUpdateForUserSoapOut">
    <wsdl:part name="parameters" element="tns:IncrementStatUpdateForUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddTrophySoapIn">
    <wsdl:part name="parameters" element="tns:AddTrophy" />
  </wsdl:message>
  <wsdl:message name="AddTrophySoapOut">
    <wsdl:part name="parameters" element="tns:AddTrophyResponse" />
  </wsdl:message>
  <wsdl:message name="AssociateTrophyToUserSoapIn">
    <wsdl:part name="parameters" element="tns:AssociateTrophyToUser" />
  </wsdl:message>
  <wsdl:message name="AssociateTrophyToUserSoapOut">
    <wsdl:part name="parameters" element="tns:AssociateTrophyToUserResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnUsersTrophyListSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnUsersTrophyList" />
  </wsdl:message>
  <wsdl:message name="ReturnUsersTrophyListSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnUsersTrophyListResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnLatestWebServiceVersionAndEndPointSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnLatestWebServiceVersionAndEndPoint" />
  </wsdl:message>
  <wsdl:message name="ReturnLatestWebServiceVersionAndEndPointSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnLatestWebServiceVersionAndEndPointResponse" />
  </wsdl:message>
  <wsdl:message name="SendUserEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendUserEmail" />
  </wsdl:message>
  <wsdl:message name="SendUserEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendUserMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendUserMessage" />
  </wsdl:message>
  <wsdl:message name="SendUserMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendUserMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="DeveloperAPISoap">
    <wsdl:operation name="ValidateAPIKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate the APIKey</wsdl:documentation>
      <wsdl:input message="tns:ValidateAPIKeySoapIn" />
      <wsdl:output message="tns:ValidateAPIKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateWindowApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a new windows application if it doesn't already exist, use the signature as the key</wsdl:documentation>
      <wsdl:input message="tns:CreateWindowAppSoapIn" />
      <wsdl:output message="tns:CreateWindowAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGenericApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A Generic application is any application which is not, presently, a windows application, for example a web app</wsdl:documentation>
      <wsdl:input message="tns:CreateGenericAppSoapIn" />
      <wsdl:output message="tns:CreateGenericAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDetailedStat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a detailed stats record, associated with a linked application or generic app. A generic app is, for example a web based agme</wsdl:documentation>
      <wsdl:input message="tns:CreateDetailedStatSoapIn" />
      <wsdl:output message="tns:CreateDetailedStatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates or creates a specific stat for a user. Exact values should be passed for this method</wsdl:documentation>
      <wsdl:input message="tns:ExactStatUpdateForUserSoapIn" />
      <wsdl:output message="tns:ExactStatUpdateForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUserWithDayHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">(Uses the proper return message)Updates or creates a specific stat for a user. Exact values should be passed for this method. Stores the history by date. I.e. will write a new record for each day or update a record within the day if found</wsdl:documentation>
      <wsdl:input message="tns:ExactStatUpdateForUserWithDayHistorySoapIn" />
      <wsdl:output message="tns:ExactStatUpdateForUserWithDayHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUserWithAllHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">(Uses the proper return message)Updates or creates a specific stat for a user. Exact values should be passed for this method. Stores the history i.e. new records will be added for each update</wsdl:documentation>
      <wsdl:input message="tns:ExactStatUpdateForUserWithAllHistorySoapIn" />
      <wsdl:output message="tns:ExactStatUpdateForUserWithAllHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncrementStatUpdateForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates a specific stat for a user. Incremental values should be passed for this method, for example '1', will add one to the running total</wsdl:documentation>
      <wsdl:input message="tns:IncrementStatUpdateForUserSoapIn" />
      <wsdl:output message="tns:IncrementStatUpdateForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks a username and password for a specific user</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTrophy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a trophy record into the system, please see online notes about these, returns -1 if not created or the ID of the trophy</wsdl:documentation>
      <wsdl:input message="tns:AddTrophySoapIn" />
      <wsdl:output message="tns:AddTrophySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssociateTrophyToUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Credits a specific user with a trophy</wsdl:documentation>
      <wsdl:input message="tns:AssociateTrophyToUserSoapIn" />
      <wsdl:output message="tns:AssociateTrophyToUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnUsersTrophyList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return a users trophy list</wsdl:documentation>
      <wsdl:input message="tns:ReturnUsersTrophyListSoapIn" />
      <wsdl:output message="tns:ReturnUsersTrophyListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnLatestWebServiceVersionAndEndPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the latest webservice version and the latest end-point if the new version differs greatly from this one</wsdl:documentation>
      <wsdl:input message="tns:ReturnLatestWebServiceVersionAndEndPointSoapIn" />
      <wsdl:output message="tns:ReturnLatestWebServiceVersionAndEndPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendUserEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send an internal email to user</wsdl:documentation>
      <wsdl:input message="tns:SendUserEmailSoapIn" />
      <wsdl:output message="tns:SendUserEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendUserMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send an alert to the user</wsdl:documentation>
      <wsdl:input message="tns:SendUserMessageSoapIn" />
      <wsdl:output message="tns:SendUserMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeveloperAPISoap" type="tns:DeveloperAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateAPIKey">
      <soap:operation soapAction="http://tempuri.org/ValidateAPIKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWindowApp">
      <soap:operation soapAction="http://tempuri.org/CreateWindowApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGenericApp">
      <soap:operation soapAction="http://tempuri.org/CreateGenericApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDetailedStat">
      <soap:operation soapAction="http://tempuri.org/CreateDetailedStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUser">
      <soap:operation soapAction="http://tempuri.org/ExactStatUpdateForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUserWithDayHistory">
      <soap:operation soapAction="http://tempuri.org/ExactStatUpdateForUserWithDayHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUserWithAllHistory">
      <soap:operation soapAction="http://tempuri.org/ExactStatUpdateForUserWithAllHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementStatUpdateForUser">
      <soap:operation soapAction="http://tempuri.org/IncrementStatUpdateForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrophy">
      <soap:operation soapAction="http://tempuri.org/AddTrophy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateTrophyToUser">
      <soap:operation soapAction="http://tempuri.org/AssociateTrophyToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUsersTrophyList">
      <soap:operation soapAction="http://tempuri.org/ReturnUsersTrophyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnLatestWebServiceVersionAndEndPoint">
      <soap:operation soapAction="http://tempuri.org/ReturnLatestWebServiceVersionAndEndPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserEmail">
      <soap:operation soapAction="http://tempuri.org/SendUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserMessage">
      <soap:operation soapAction="http://tempuri.org/SendUserMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeveloperAPISoap12" type="tns:DeveloperAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateAPIKey">
      <soap12:operation soapAction="http://tempuri.org/ValidateAPIKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWindowApp">
      <soap12:operation soapAction="http://tempuri.org/CreateWindowApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGenericApp">
      <soap12:operation soapAction="http://tempuri.org/CreateGenericApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDetailedStat">
      <soap12:operation soapAction="http://tempuri.org/CreateDetailedStat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUser">
      <soap12:operation soapAction="http://tempuri.org/ExactStatUpdateForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUserWithDayHistory">
      <soap12:operation soapAction="http://tempuri.org/ExactStatUpdateForUserWithDayHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExactStatUpdateForUserWithAllHistory">
      <soap12:operation soapAction="http://tempuri.org/ExactStatUpdateForUserWithAllHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementStatUpdateForUser">
      <soap12:operation soapAction="http://tempuri.org/IncrementStatUpdateForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrophy">
      <soap12:operation soapAction="http://tempuri.org/AddTrophy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateTrophyToUser">
      <soap12:operation soapAction="http://tempuri.org/AssociateTrophyToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnUsersTrophyList">
      <soap12:operation soapAction="http://tempuri.org/ReturnUsersTrophyList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnLatestWebServiceVersionAndEndPoint">
      <soap12:operation soapAction="http://tempuri.org/ReturnLatestWebServiceVersionAndEndPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserEmail">
      <soap12:operation soapAction="http://tempuri.org/SendUserEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserMessage">
      <soap12:operation soapAction="http://tempuri.org/SendUserMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeveloperAPI">
    <wsdl:port name="DeveloperAPISoap" binding="tns:DeveloperAPISoap">
      <soap:address location="http://statdrop.startstop.me/0.2/developerapi.asmx" />
    </wsdl:port>
    <wsdl:port name="DeveloperAPISoap12" binding="tns:DeveloperAPISoap12">
      <soap12:address location="http://statdrop.startstop.me/0.2/developerapi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>